<footer>
  <div class="footer-container">
    <div class="footer-links">
      <a href="#">About Us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Contact</a>
    </div>
    
    <div class="footer-github">
      <p>Repositories:</p>
      <a href="https://github.com/wishbeyond/wishbeyond.github.io" target="_blank">
        <div class="svg-mask"></div>
        <span>Frontend</span>
      </a>
      <a href="https://github.com/Veitangie/wishlist" target="_blank">
        <div class="svg-mask"></div>
        <span>Backend</span>
      </a>
    </div>
    
    <div class="footer-copyright">
      <p>&copy; 2024 WishBeyond - A Personal Project by Veitangie.</p>
    </div>
  </div>
</footer>